<?xml version="1.0" encoding="US-ASCII"?>
<!--
 * Copyright 2006 Dr. Georg Fischer <punctum at punctum dot kom>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<!--
    @(#) $Id: web.xml 427 2010-06-01 09:08:17Z gfis $
    2007-04-30: minimal version
-->
<web-app>
    
    <display-name>Extensible Translator</display-name>
    <description>
        LR(1) Parser Generator 
    </description>
    
    <!-- Servlets -->
    <servlet> 
        <servlet-name>JExtraServlet</servlet-name>
        <servlet-class>org.teherba.jextra.JExtraServlet</servlet-class>
    </servlet>

    <servlet-mapping> 
        <servlet-name>JExtraServlet</servlet-name>
        <url-pattern>/jextraservlet</url-pattern>
    </servlet-mapping>
    
</web-app>
